[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-gpu = {version = "*", sys_platform = "== 'darwin'"}
tensorflow = {version = "*", sys_platform = "!= 'darwin'"}
pandas = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.6"
